@model SkolmatenNyNy.Models.Mat
<!DOCTYOPE html>
<html>
    <head></head>
    <body>
        <div><strong>Titel</strong>
          @Html.DisplayFor(model => model.Maten)
        </div>
        <div><strong>Betyg</strong>
          @Html.DisplayFor(model => model.Betyg)
        </div>
        <div><strong>Beskrivning</strong>
           @Html.DisplayFor(model => model.Beskrivning)
        </div>
    </body>
</html>