<!DOCTYOPE html>
<html>
    <head></head>
    <body>
        <h1>Startsidan</h1>
        <a asp-action="Index" asp-controller="Mat">Till rätterna</a>
        <a asp-action="Index" asp-controller="Sallad">Till sallader</a>
        <a asp-action="Overlag" asp-controller="Home">I överlag om vad jag tycker om skolans mat</a>
    </body>
</html>