<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1> Vad jag tycker i överlag om skolans mat</h1>
        <p>Skolans mat är tillräckligt god för att inte klaga. Salladsbuffén är varierad och allt är gratis (för mig)
            Har inte mycket att klaga på.
        </p>
    <a asp-action="Index" asp-controller="Home">Tillbaka hem</a>

    </body>
</html>